.header {
   background-color: #000000;
   padding: 20px 0;
}
.header-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 -15px;
}
.axit {
   width: 400px;
   font-family: 'raleway';
   font-style: 'regular';
   font-size: 1.875em;
   font-weight: 400px;
   margin: 0 15px;
}
.ax {
   color: #E2E2E2;
}
.it {
   color: #EC7979;
}
.navigation-list {
   display: flex;
   margin: 0 15px;
}
.navigation-list__item {
   margin-left: 48px;
   border-bottom: 1px solid transparent;
}
.navigation-list__item a {
   font-family: 'Open Sans';
   font-family: 'semibold';
   font-size: 0.9375em;
   color: rgba(255, 255, 255, 0.7);
}
.navigation-list__item:hover{
   transform:translate(10px);
   border-bottom: 1px solid wheat;
}