@import url("./cdn.css");
@import url("./header.css");
@import url("./main.css");
@import url("./portfolio.css");

*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

.contener{
margin: auto;
max-width: 1170px;
padding: 0 15px;
position: relative;
z-index: 9999;

}
.html{
font-family: "Raleway";
}
.title{
   color: #212121;
   font-family: raleway;
   font-style: regular;
   width: 668px;
   font-size: 36px;
   margin: auto;
   text-align: center;
   text-transform: uppercase;
   
   
}
.title::after{
   content: "";
   width: 62px;
   height: 2px; 
   background-color: #E72424;
   display: block;
   align-content: center;
   margin: auto;
   margin-top: 34px;
   margin-bottom: 34px;
}
.saying-card__description::after{
   content: "";
   width: 0px;
   height: 0px;
   width: 0;
   height: 0;
   border-left: 20px solid transparent; 
   border-right: 20px solid transparent; 
   border-top: 20px solid #E2E2E2;
   top: 55px;
   right: 80px;
   position: relative;
}

