
.description {
   text-align: center;
   font-family: 'Open Sans';
   font-style: 'Regular';
   font-size: 0.875em;
   color: #86878B;
   margin-bottom: 91px;
}
.awesome {
   padding: 20px 0;
}
.awesome-wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0 -15px;
}
.awesome-card {
   width: 350px;
   margin: 0 15px;
}
.awesome-card__img {
   border: 1px solid red;
   border-radius: 50%;
   width: 70px;
   height: 70px;
   margin: 0 auto 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.awesome-card__title {
   text-align: center;
   font-family: 'open sans';
   font-style: 'bold';
   font-size: 1.1em;
   margin-bottom: 30.38px;
}
.awesome-card__description {
   margin: auto;
   text-align: center;
}
.awesome-card__description p {
   font-family: 'open sanse';
   font-style: 'regular';
   font-size: 0.77em;
   color: #000000;
}