
.description {
   margin: auto;
   text-align: center;
   font-family: Open Sans;
   font-style: Regular;
   font-size: 14px;
   color: #86878B;
   margin-bottom: 91px;
}
.awesome-wrap {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0 -15px;
}
.awesome-card {
   width: 350px;
   padding: 20px;
   margin: 0 15px;
}
.awesome-card__img {
border: 1px solid red;
border-radius: 50%;
width: 70px;
height: 70px;
margin: 0 auto 20px;
display: flex;
justify-content: center;
align-items: center;
}
.awesome-card__title {
   text-align: center;
   font-family: open sans;
   font-style: bold;
   font-size: 17.6px;
   margin-bottom: 30.38px;
}
.awesome-card__description {
   margin: auto;
   text-align: center;
   
}
.awesome-card__description p{
   font-family: open sanse;
   font-style: regular;
   font-size: 12.32px;
   color: #000000;
}
.line{
   border: 1px solid #E72424;
   width: 62px;
   height: 2px;
   margin: auto;
   margin-bottom: 34px;
}
.pricing{
   background-color: #F5F5F5;
}
.pricing-wrap{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0 -15px;
}
.pricing-card{
   width: 350px;
   padding: 20px;
   margin: 0 15px;

}

.pricing-card__version {
   background-color: #333333;
   Width: 340px;
   Height:50px;
   margin-bottom: 2px;

}
.pricing-card__version p{
   margin: 2px;
   padding: 10px;
   text-align: center;
   font-family: open sans;
   font-style: bold;
   font-size: 20px;
   vertical-align: top;
   color: #FFFFFF;

}
.pricing-card__pricing {
   background-color: #333333;
   width: 340px;
   height: 100px;
   margin-bottom: 2px;
}

.pricing-card__pricing p{
   margin:2px;
   padding: 10px;
   text-align: center;
   font-family: raleway;
   font-style: bold;
   font-size: 35px;
   vertical-align: top;
   color: #FFFFFF;
   
}

.pricing-card__description {
   background-color: #333333;
   margin-bottom: 2px;
   Width:340px;
   Height:50px;
}
.pricing-card__description p{
   margin: 2px;
   padding: 10px;
   text-align: center;
   color:rgba(255, 255, 255, 0.5);
   Font family: Open Sans;
   Font style: SemiBold;
   Font size: 14px;
}
.pricing-card__space {
   margin-bottom: 4px;
   Width:340px;
   Height: 40px;
   background-color:#FFFFFF;

}
.pricing-card__space p {
   padding: 10px;
   margin: 2px;
   text-align: center;
   color:#86878B;
   Font family: Open Sans;
   Font style: Regular;
   Font size: 14px;

}


