.social {
   padding: 20px 0;
   background-color: #F8EFEF;
}
.social-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 -15px;
   flex-wrap: wrap;
}
.mediatitle-title {
   color: #333333;
   font-family: 'Open Sans';
   font-style: 'Bold';
   font-size: 1.25em;
   margin-bottom: 14px;
}
.mediadescription {
   width: 400px;
}
.navigationicons-list {
   width: 684px;
   display: flex;
}
.navigationicons-list__itm {
   margin-left: 48px;
}
.fa-facebook__social {
   font-size: 3.125em;
   color: 86878B;
   transition: 0,2s;
}
.fa-facebook__social:hover {
   transform: translate(20px,20px);
   color: blue;
   transition: 0.1s;
   box-shadow: 3px 3px 3px 3px ;
}
.fa-twitter__social {
   font-size: 3.125em;
   color: 86878B;
   transition: 0,2s;
}
.fa-twitter__social:hover {
   transform: scale(2);
   color: #00acee;
   transition: 0,1s;
   box-shadow: 0 0 10px 2px;
}
.fa-tiktok__social {
   font-size:3.125em;
   color: 86878B;
   transition: 0,2s;
}
.fa-tiktok__social:hover {
   transform: skew(20deg);
   color: black;
   transition: 0,1s;
   box-shadow: 10px 0 10px 0;
}
.fa-telegram__social {
   font-size: 3.125em;
   color: 86878B;
   transition: 0,2s;
}
.fa-telegram__social:hover {
   transform: translate(5px);
   color: #768ff4;
   transition: 0,2s;
   box-shadow: 0px 0px 15px 5px;
}
.fa-vk__social {
   font-size: 3.125em;
   color: 86878B;
   transition: 0,2s;
}
.fa-vk__social:hover {
transform: scale(0.5);
color: #768ff4;
box-shadow: 10px 0 0 5px 5px;
}
.fa-windows__social {
   font-size: 3.125em;
   color: 86878B;
   transition: 0,2s;
}
.fa-windows__social:hover {
   transform: translate(10px);
   transition: 0.2s;
   color: hsl(248, 94%, 51%);
}
.fa-wifi__social{
   font-size: 3.125em;
   color: 86878B;
   transition: 0,2s;
}
.fa-wifi__social:hover {
   transform: rotate(45deg);
   color: orange;
   transition: 0,2s;
}